<ba-card title="单位管理">
  <button class="btn btn-info"><i class="icon ion-plus-round"></i> 添加</button>
  <table class="table" data-show-toggle="false" data-filtering="true">
    <thead>
    <tr>
      <th>序号</th>
      <th data-breakpoints="xs sm">单位编号</th>
      <th>单位名称</th>
      <th data-type="html">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td>LXQTC</td>
      <td>历下区停车管理</td>
      <td>
        <a (click)="showDialog()" title="添加部门"><i class="icon ion-plus-round"></i></a>&nbsp;&nbsp;
        <a (click)="showDialog()" title="编辑"><i class="icon ion-compose"></i></a>&nbsp;&nbsp;
        <a (click)="showDeleteDialog('历下区停车管理')" title="删除"><i class="icon ion-trash-a"></i></a>&nbsp;&nbsp;
        <a (click)="showDialog()" title="上移"><i class="icon ion-arrow-up-c"></i></a>&nbsp;&nbsp;
        <a (click)="showDialog()" title="下移"><i class="icon ion-arrow-down-c"></i></a>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>LCQTC</td>
      <td>历城区停车管理</td>
      <td>
        <a (click)="showDialog()" title="添加部门"><i class="icon ion-plus-round"></i></a>&nbsp;&nbsp;
        <a (click)="showDialog()" title="编辑"><i class="icon ion-compose"></i></a>&nbsp;&nbsp;
        <a (click)="showDialog()" title="删除"><i class="icon ion-trash-a"></i></a>&nbsp;&nbsp;
        <a (click)="showDialog()" title="上移"><i class="icon ion-arrow-up-c"></i></a>&nbsp;&nbsp;
        <a (click)="showDialog()" title="下移"><i class="icon ion-arrow-down-c"></i></a>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>TQQTC</td>
      <td>天桥区停车管理</td>
      <td>
        <a (click)="showDialog()" title="添加部门"><i class="icon ion-plus-round"></i></a>&nbsp;&nbsp;
        <a (click)="showDialog()" title="编辑"><i class="icon ion-compose"></i></a>&nbsp;&nbsp;
        <a (click)="showDialog()" title="删除"><i class="icon ion-trash-a"></i></a>&nbsp;&nbsp;
        <a (click)="showDialog()" title="上移"><i class="icon ion-arrow-up-c"></i></a>&nbsp;&nbsp;
        <a (click)="showDialog()" title="下移"><i class="icon ion-arrow-down-c"></i></a>
      </td>
    </tr>
    <tr>
      <td>4</td>
      <td>SZQTC</td>
      <td>市中区停车管理</td>
      <td>
        <a (click)="showDialog()" title="添加部门"><i class="icon ion-plus-round"></i></a>&nbsp;&nbsp;
        <a (click)="showDialog()" title="编辑"><i class="icon ion-compose"></i></a>&nbsp;&nbsp;
        <a (click)="showDialog()" title="删除"><i class="icon ion-trash-a"></i></a>&nbsp;&nbsp;
        <a (click)="showDialog()" title="上移"><i class="icon ion-arrow-up-c"></i></a>&nbsp;&nbsp;
        <a (click)="showDialog()" title="下移"><i class="icon ion-arrow-down-c"></i></a>
      </td>
    </tr>
    <tr>
      <td>5</td>
      <td>HYQTC</td>
      <td>槐荫区停车管理</td>
      <td>
        <a (click)="showDialog()" title="添加部门"><i class="icon ion-plus-round"></i></a><span>&nbsp;&nbsp;</span>
        <a (click)="showDialog()" title="编辑"><i class="icon ion-compose"></i></a>&nbsp;&nbsp;
        <a (click)="showDialog()" title="删除"><i class="icon ion-trash-a"></i></a>&nbsp;&nbsp;
        <a (click)="showDialog()" title="上移"><i class="icon ion-arrow-up-c"></i></a>&nbsp;&nbsp;
        <a (click)="showDialog()" title="下移"><i class="icon ion-arrow-down-c"></i></a>
      </td>
    </tr>
    </tbody>
  </table>
</ba-card>
