<ba-card title="部门管理">
  <button class="btn btn-info" ><i class="icon ion-plus-round"></i>添加</button>
  <table class="table" data-show-toggle="false">
    <thead>
    <tr>
      <th>ID</th>
      <th data-breakpoints="xs sm">部门编号</th>
      <th>部门名称</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td>ZHB</td>
      <td>综合部</td>
      <td>
        <a (click)="showDialog()" title="添加职位"><i class="icon ion-plus-round"></i></a>&nbsp;&nbsp;
        <a (click)="showDialog()" title="编辑"><i class="icon ion-compose"></i></a>&nbsp;&nbsp;
        <a (click)="showDialog()" title="删除"><i class="icon ion-trash-a"></i></a>&nbsp;&nbsp;
        <a (click)="showDialog()" title="上移"><i class="icon ion-arrow-up-c"></i></a>&nbsp;&nbsp;
        <a (click)="showDialog()" title="下移"><i class="icon ion-arrow-down-c"></i></a>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>CWB</td>
      <td>财务部</td>
      <td>
        <a (click)="showDialog()" title="添加职位"><i class="icon ion-plus-round"></i></a>&nbsp;&nbsp;
        <a (click)="showDialog()" title="编辑"><i class="icon ion-compose"></i></a>&nbsp;&nbsp;
        <a (click)="showDialog()" title="删除"><i class="icon ion-trash-a"></i></a>&nbsp;&nbsp;
        <a (click)="showDialog()" title="上移"><i class="icon ion-arrow-up-c"></i></a>&nbsp;&nbsp;
        <a (click)="showDialog()" title="下移"><i class="icon ion-arrow-down-c"></i></a>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>RLZYB</td>
      <td>人力资源部</td>
      <td>
        <a (click)="showDialog()" title="添加职位"><i class="icon ion-plus-round"></i></a>&nbsp;&nbsp;
        <a (click)="showDialog()" title="编辑"><i class="icon ion-compose"></i></a>&nbsp;&nbsp;
        <a (click)="showDialog()" title="删除"><i class="icon ion-trash-a"></i></a>&nbsp;&nbsp;
        <a (click)="showDialog()" title="上移"><i class="icon ion-arrow-up-c"></i></a>&nbsp;&nbsp;
        <a (click)="showDialog()" title="下移"><i class="icon ion-arrow-down-c"></i></a>
      </td>
    </tr>
    </tbody>
  </table>
</ba-card>
