<ba-card title="人员管理">
  <button class="btn btn-info" ><i class="icon ion-plus-round"></i>添加</button>
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>姓名</th>
      <th>性别</th>
      <th data-breakpoints="all">出生日期</th>
      <th data-breakpoints="xs sm md">联系方式</th>
      <th data-breakpoints="all">地址</th>
      <th data-breakpoints="all">邮箱</th>
      <th data-breakpoints="all">年龄</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td>傲笑红尘</td>
      <td>男</td>
      <td>1922-12-13</td>
      <td>15000000000</td>
      <td>苦境昆仑山</td>
      <td>123@123.com</td>
      <td>126</td>
      <td>
        <a (click)="showDialog()" title="赋予角色"><i class="icon ion-person-stalker"></i></a>&nbsp;&nbsp;
        <a (click)="showDialog()" title="赋予职位"><i class="icon ion-ribbon-b"></i></a>&nbsp;&nbsp;
        <a (click)="showDialog()" title="编辑"><i class="icon ion-compose"></i></a>&nbsp;&nbsp;
        <a (click)="showDialog()" title="重置密码"><i class="icon ion-unlocked"></i></a>&nbsp;&nbsp;
        <a (click)="showDialog()" title="重置验证码"><i class="icon ion-eye"></i></a>&nbsp;&nbsp;
        <a (click)="showDialog()" title="上移"><i class="icon ion-arrow-up-c"></i></a>&nbsp;&nbsp;
        <a (click)="showDialog()" title="下移"><i class="icon ion-arrow-down-c"></i></a>&nbsp;&nbsp;
        <a (click)="showDialog()" title="删除"><i class="icon ion-trash-a"></i></a>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>素还真</td>
      <td>男</td>
      <td>1922-12-13</td>
      <td>15000001111</td>
      <td>苦境琉璃仙境</td>
      <td>123@123.com</td>
      <td>106</td>
      <td>
        <a (click)="showDialog()" title="赋予角色"><i class="icon ion-person-stalker"></i></a>&nbsp;&nbsp;
        <a (click)="showDialog()" title="赋予职位"><i class="icon ion-ribbon-b"></i></a>&nbsp;&nbsp;
        <a (click)="showDialog()" title="编辑"><i class="icon ion-compose"></i></a>&nbsp;&nbsp;
        <a (click)="showDialog()" title="重置密码"><i class="icon ion-unlocked"></i></a>&nbsp;&nbsp;
        <a (click)="showDialog()" title="重置验证码"><i class="icon ion-eye"></i></a>&nbsp;&nbsp;
        <a (click)="showDialog()" title="上移"><i class="icon ion-arrow-up-c"></i></a>&nbsp;&nbsp;
        <a (click)="showDialog()" title="下移"><i class="icon ion-arrow-down-c"></i></a>&nbsp;&nbsp;
        <a (click)="showDialog()" title="删除"><i class="icon ion-trash-a"></i></a>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>刀狂剑痴</td>
      <td>男</td>
      <td>1922-12-13</td>
      <td>15000002222</td>
      <td>苦境琉璃仙境</td>
      <td>123@123.com</td>
      <td>66</td>
      <td>
        <a (click)="showDialog()" title="赋予角色"><i class="icon ion-person-stalker"></i></a>&nbsp;&nbsp;
        <a (click)="showDialog()" title="赋予职位"><i class="icon ion-ribbon-b"></i></a>&nbsp;&nbsp;
        <a (click)="showDialog()" title="编辑"><i class="icon ion-compose"></i></a>&nbsp;&nbsp;
        <a (click)="showDialog()" title="重置密码"><i class="icon ion-unlocked"></i></a>&nbsp;&nbsp;
        <a (click)="showDialog()" title="重置验证码"><i class="icon ion-eye"></i></a>&nbsp;&nbsp;
        <a (click)="showDialog()" title="上移"><i class="icon ion-arrow-up-c"></i></a>&nbsp;&nbsp;
        <a (click)="showDialog()" title="下移"><i class="icon ion-arrow-down-c"></i></a>&nbsp;&nbsp;
        <a (click)="showDialog()" title="删除"><i class="icon ion-trash-a"></i></a>
      </td>
    </tr>
    </tbody>

  </table>
</ba-card>
